@model ChessSystem.Models.Tournaments[]

@Html.Partial("_Navbar")

<div class="col-md-10 col-md-offset-1">
    <h1 class="header-margin">Tournaments</h1>

    <table
        class="table table-striped"
        data-toggle="table"
        data-sort-name="date"
        data-sort-order="desc"
    >
        <thead>
            <tr class="bold">
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="date" data-sortable="true">Date</th>
                <th data-field="place" data-sortable="true">Place</th>
                <th data-field="organizer" data-sortable="true">Organizer</th>
                <th data-field="finished" data-sortable="true">Finished</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tournament in Model)
            {
                <tr>
                    <td>@Html.ActionLink(tournament.Name, "Tournament", "Tournaments", new { id = tournament.Id }, null)</td>
                    <td>@(tournament.Date.HasValue ? tournament.Date.Value.ToString() : "-")</td>
                    <td>@tournament.Place</td>
                    <td>@tournament.Users.Name</td>
                    <td>
                        @(
                            (!tournament.IsFinished.HasValue || (tournament.IsFinished.HasValue && tournament.IsFinished.Value == false))
                            ? "No"
                            : "Yes"
                        )
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
